@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: auto;
  color-scheme: light dark; /* Adding dark mode support */
}

/* Global body and html styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
  width: 100%;  /* Ensure full width */
  display: flex; /*Enable flexbox for centering */
  overflow: horizontally;
  justify-content: center; /* Center horizontally */
  align-items: top; /* Center vertically */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #dce4ec; /* Light background color */
  color: #292d34; /* Default text color */
}

/* Optional: Dark mode background color for body */
body.dark {
  background-color: #1e293b;
  color: #f8fafc;
}

/* Glass effect styling */
.glass-effect {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%
  padding: 2rem;
}

/* Hover lift effect */
.hover-lift {
  transition: transform 0.4s, box-shadow 0.4s;
}

.hover-lift:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(52, 22, 249, 0.3);
}

/* Flexbox container for centering elements */
.center-content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Ensure text is centered */
}

/* Media Query: Support for small screens */
@media (max-width: 640px) {
  /* Adjustments for smaller screens */
  body {
    font-size: 14px; /* Optional: make text size smaller */
  }

  .center-content {
    padding: 8px; /* Add padding for smaller screens */
  }
}

@media (min-width: 1024px) {
  /* Larger screens adjustments */
  body {
    font-size: 16px; /* Ensure larger font size for larger screens */
  }
}
